@import "variables.scss";

.calendar {
  width: 100%;
  position: relative;
  margin: auto;
}

.month-separators {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  left: calc(50% - #{$start-point-month-seperators});
  .month-separator-line {
    width: $month-width - 1px;
    border-left: 1px solid $grey;
  }
}

.screen-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.plant-separators {
  width: 100%;
}

.plant-separator-line {
  height: 2rem;
  border-bottom: 1px solid $grey;
}

.calendar-content {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    height: calc(2rem + 1px);
    display: flex;
    align-items: center;
  }
}

.calendar-months {
  display: flex;
  margin-left: $plant-name-width;
  height: 2rem;
  align-items: center;
}

.calendar-month {
  width: $month-width;
}

.calendar-plant-name {
  width: calc(#{$plant-name-width} - 1rem);
  text-align: left;
  padding-left: 1rem;
}

.calendar-time-bars {
  width: $time-bars-width;
}

.calendar-time-bar {
  height: 5px;
  margin-bottom: 3px;
}

.sowing {
  background-color: $green;
}

.planting {
  background-color: $yellow;
}

.harvesting {
  background-color: $red;
  margin-bottom: 0;
}

.calendar-plant-name, .calendar-time-bars {
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .calendar {
    max-width: $calendar-width;
  }
}
