@import "variables.scss";

.calendar {
  background-color: #e3e3e3;
  margin: auto;
}

.calendar-content {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

.calendar-month {
  display: inline-block;
  width: $month-width;
}

.calendar-plant-name {
  width: $plant-name-width - 4px;
}

.calendar-time-bars {
  width: $time-bars-width;
}

.calendar-plant-name, .calendar-time-bars {
  display: inline-block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .calendar {
    max-width: $calendar-width;
  }
}
