@import "variables.scss";

.screen-calendar {
  height: 150vh;
}

.calendar {
  position: absolute;
  bottom: calc( 50vh + #{$calendar-row-height});
  display: flex;
  align-items: flex-end;
  height: 11 * $calendar-row-height;
  width: 100%;
}

.heading-calendar{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5vh;
  left: 35vw;
  .heading-calendar-background {
    padding-top: 0.5em;
    background-color: white;
    height: 9vh;
    width: 30vw;
    z-index: 10;
  }
}

.month-separators {
  position: absolute;
  top: 3 * $calendar-row-height;
  height: 11 * $calendar-row-height;
  min-height: 2 * $calendar-row-height;
  display: flex;
  left: calc(50% - #{$start-point-month-seperators});
  overflow: hidden;
  .month-separator-line {
    width: calc(#{$month-width} - 1px);
    border-left: 1px solid $black;
  }
  .month-separator-line:last-child {
    border-right: 1px solid $black;
  }
}

/* Fix pin spacer inserted by ScrollMagic */
.screen-overlay-fix {
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}

.screen-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.plant-separators {
  width: 100%;
  height: 100%;
}

.plant-separator-line, .plant-separator-line-fixed {
  height: calc(#{$calendar-row-height} - 1px);
  border-bottom: 1px solid $black;
}

.calendar-content {
  position: absolute;
  width: $time-bars-width;
  left: calc(50% - #{$start-point-month-seperators});
  top: $calendar-row-height;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    height: $calendar-row-height;
    display: flex;
    align-items: center;
  }
}

.plant-names-wrapper {
  position: absolute;
  width: $plant-name-width;
  height: 11 * $calendar-row-height;
  left: calc(50% - #{$calendar-width/2});
  top: $calendar-row-height;
}

.plant-names {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    height: calc(#{$calendar-row-height});
    display: flex;
    align-items: center;
  }
}

.calendar-months {
  position: absolute;
  width: $time-bars-width;
  left: calc(50% - #{$start-point-month-seperators});
  display: flex;
  height: $calendar-row-height;
  align-items: center;
}

.calendar-month {
  width: $month-width;
}

.calendar-plant-name {
  width: calc(#{$plant-name-width} - 1rem);
  text-align: left;
  padding-left: 1rem;
}

.calendar-time-bars {
  width: $time-bars-width;
}

.calendar-time-bar {
  padding-left: 1px;
  height: 12px;
  margin-bottom: 1px;
  text-align: left;
  font-size: 11px;
  line-height: 1;
  color: white;
  background-color: $black;
}

// .sowing {
//   background-color: #adadad;
// }

// .planting {
//   background-color: #696969;
// }

// .harvesting {
//   background-color: $black;
// }


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .calendar-content {
    max-width: $time-bars-width;
  }
}
