@import "variables.scss";

// bower:scss
// endbower

@font-face {
    font-family: 'voyagerlight';
    src: url('/fonts/voyager_light-webfont.eot');
    src: url('/fonts/voyager_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/voyager_light-webfont.woff') format('woff'),
         url('/fonts/voyager_light-webfont.ttf') format('truetype'),
         url('/fonts/voyager_light-webfont.svg#voyagerlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'voyagerthin';
    src: url('/fonts/voyager_thin-webfont.eot');
    src: url('/fonts/voyager_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/voyager_thin-webfont.woff') format('woff'),
         url('/fonts/voyager_thin-webfont.ttf') format('truetype'),
         url('/fonts/voyager_thin-webfont.svg#voyagerthin') format('svg');
    font-weight: 200;
    font-style: normal;
}

html {
  font-size: 14px;
}

body {
  color: $black;
  font-family: 'voyagerlight', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  line-height: 2;
  word-spacing: 2px;
}

h1 {
  font-family: 'voyagerthin', sans-serif;
  margin: 0px 0 0 -40px;
  letter-spacing: 5px;
  font-size: 22px;
}

a {
  color: $black;
  text-decoration: none;
}

.title {
  font-family: 'voyagerthin', sans-serif;
  text-decoration: none;
  font-size: 20vh;
  color: $green;
  letter-spacing: 6vh;
}

.screen {
  position:relative;
  &.header {
    height: 100vh;
  }
}

.side-bar {
  a {
    color: white;
  }
  a:hover {
    color: $black;
  }
}

.active {
  a {
    color: $red;
  }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid $grey;
  margin-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
