@import "variables.scss";

// bower:scss
// endbower

@font-face {
    font-family: 'voyagerlight';
    src: url('/fonts/voyager_light-webfont.eot');
    src: url('/fonts/voyager_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/voyager_light-webfont.woff') format('woff'),
         url('/fonts/voyager_light-webfont.ttf') format('truetype'),
         url('/fonts/voyager_light-webfont.svg#voyagerlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'voyagerthin';
    src: url('/fonts/voyager_thin-webfont.eot');
    src: url('/fonts/voyager_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/voyager_thin-webfont.woff') format('woff'),
         url('/fonts/voyager_thin-webfont.ttf') format('truetype'),
         url('/fonts/voyager_thin-webfont.svg#voyagerthin') format('svg');
    font-weight: 200;
    font-style: normal;
}

html {
  font-size: 14px;
}

body {
  color: $black;
  font-family: 'Inconsolata', Monaco, monospace;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 2;
}

h1 {
  font-family: 'voyagerthin', sans-serif;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 29px;
}

a {
  color: $black;
  text-decoration: none;
}

#viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.title {
  font-family: 'voyagerthin', sans-serif;
  text-decoration: none;
  font-size: 20vh;
  color: $green;
  letter-spacing: 6vh;
}

.screen {
  position: relative;
  &.header {
    height: 100vh;
  }
}

.menu-button {
  position: absolute;
  left: 0;
  top: 5 * $calendar-row-height;
  height: $calendar-row-height;
  width: $calendar-row-height;
  border-bottom: 1px solid $black;
  border-right: 1px solid $black;
  font-size: 29px;
  line-height: 1.5;
}

.menu {
  position: absolute;
  left: 2 * $calendar-row-height;
  top: 5 * $calendar-row-height;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    height: calc(#{$calendar-row-height});
    display: flex;
    align-items: center;
    a:hover {
      text-decoration: underline;
    }
  }
}


.active {
  a {
    text-decoration: underline;
  }
}
