$calendar-width: 730px;
$time-bars-width: $calendar-width * 0.7;
$plant-name-width: $calendar-width - $time-bars-width;
$month-width: $time-bars-width / 12;
$green: #42E08A;
$yellow: #D4C34B;
$red: #D3877D;
$black: #2C2F38;