@import "variables.scss";

.screen-tomato {
  display: flex;
  align-items: center;
  height: 330vh;
  z-index: -10;
}

.tomato-hg {
  position: absolute;
  left: 18vw;
  top: 0;
  z-index: 20;
  img { height: 100vh; }
}

.tomato-img {
  position: absolute;
  left: 18vw;
  top: 120vh;
  z-index: 10;
  img { height: 100vh; }
}

.tomato-text-position {
  position: absolute;
  width: 30vw;
  top: 200vh;
  left: 60vw;
  text-align: left;
}

.screen-sweet-potato {
  height: 150vh;
}

.sweet-potato-img img {
  height: 70vh;
  position: absolute;
  top: -7vh;
  right: 5vw;
  z-index: 0;
}

.sweet-potato-text-position {
  position: absolute;
  width: 75vw;
  top: 75vh;
  right: 5vw;
  text-align: right;
}