@import "variables.scss";

.screen-tomato {
  display: flex;
  align-items: center;
  height: 330vh;
  z-index: -10;
}

.tomato-img {
  position: absolute;
  left: 18vw;
  top: 120vh;
  z-index: 10;
  &.tomato-layer { z-index: 30; }
  img { height: 100vh; }
}

.tomato-overlay-position {
  position: absolute;
  left: 18vw;
  height: 100vh;
  width: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;

  .tomato-overlay {
    top: 5vh;
    height: 90vh;
    width: 55vh;
    border: 7px solid $red;
  }
}

.tomato-layer-letters {
  font-family: 'voyagerthin', sans-serif;
  font-size: 26vh;
  letter-spacing: 12vh;
  line-height: 1.17;
  color: $red;
}

.tomato-text-position {
  position: absolute;
  width: 30vw;
  top: 200vh;
  left: 60vw;
  text-align: left;
  color: $red;
}

.screen-sweet-potato {
  height: 100vh;
}

.sweet-potato-img img {
  height: 80vh;
  position: absolute;
  top: -7vh;
  right: 5vw;
  z-index: 0;
}