<!doctype html>
<html ng-app="phenoApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/all.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="ApplicationCtrl">

    <div class="header screen">
      <a href="#/" class="title">PHENO</a>
      <p>Grow your own vegtable garden!</p>
    </div>


    <div id="trigger-calendar" class="container">
      <div id="target-calendar" class="screen screen-calendar">
        <div id="target-side-bar-lines-tween" class="screen-overlay">
          <div id="target-side-bar-lines" class="plant-separators">
            <div class="plant-separator-line"></div>
            <div class="plant-separator-line" ng-repeat="plant in PLANTS"></div>
          </div>
        </div>

        <div class="month-separators">
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
        </div>

        <div class="calendar">
          <div id="calendar-month-section" class="calendar-months calendar-time-bars">
            <div class="calendar-month">J</div>
            <div class="calendar-month">F</div>
            <div class="calendar-month">M</div>
            <div class="calendar-month">A</div>
            <div class="calendar-month">M</div>
            <div class="calendar-month">J</div>
            <div class="calendar-month">J</div>
            <div class="calendar-month">A</div>
            <div class="calendar-month">S</div>
            <div class="calendar-month">O</div>
            <div class="calendar-month">N</div>
            <div class="calendar-month">D</div>
          </div>
          <div id="target-side-bar-tween" class="plant-names-wrapper">
            <ul id="target-side-bar" class="plant-names">
              <li ng-repeat="plant in PLANTS" id="side-bar-{{ plant.URL }}" class="calendar-plant-name"><a href="">{{ plant.NAME }}</a></li>
            </ul>
          </div>
          <ul class="calendar-content">
            <li ng-repeat="plant in PLANTS">
              <div class="calendar-time-bars">
                <div style="display:flex;">
                  <div class="calendar-time-bar sowing" ng-if="plant.TIMES.SOWING" style="width:{{plant.sowingWidth}}px;margin-left:{{plant.sowingMargin}}px;"></div>
                  <div class="calendar-time-bar sowing" ng-if="plant.TIMES.SOWING" style="width:{{plant.sowingWidthSecond}}px;margin-left:{{plant.sowingMarginSecond}}px;"></div>
                </div>
                <div class="calendar-time-bar planting" ng-if="plant.TIMES.PLANTING" style="width:{{plant.plantingWidth}}px;margin-left:{{plant.plantingMargin}}px;"></div>
                <div style="display:flex;">
                  <div class="calendar-time-bar harvesting" ng-if="plant.TIMES.HARVESTING" style="width:{{plant.harvestingWidth}}px;margin-left:{{plant.harvestingMargin}}px;"></div>
                  <div class="calendar-time-bar harvesting" ng-if="plant.TIMES.HARVESTING" style="width:{{plant.harvestingWidthSecond}}px;margin-left:{{plant.harvestingMarginSecond}}px;"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="trigger-tomato-frame" class="screen screen-tomato">
      <div id="target-tomato-frame" class="tomato-overlay-position">
        <div class="tomato-overlay">
          <!-- <div class="tomato-layer-letters">
            TO<br>
            MA<br>
            TO
          </div> -->
        </div>
      </div>
      <div id="trigger-tomato-img" class="tomato-img">
        <img id="target-tomato-img" ng-src="{{ PLANTS[0].IMG }}">
      </div>
      <div class="tomato-img tomato-layer">
        <img id="target-tomato-img-layer" src="images/tomato-layer.png">
      </div>
      <div id="trigger-tomato-text" class="tomato-text-position">
        <div id="target-tomato-text" class="tomato-text">
          <h1>TOMATO</h1>
          Plant the seeds about 2 cm deep in small pots and keep them indoor. Plant out as soon as the seedling growth four leaves. The plants should have a distance of 40 cm between each other. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater. As a growth support tie the stem to a stake. Pinch off lateral shoots early on. Remove the main shoot around the middle of September. Fertilize from time to time.
        </div>
      </div>
    </div>

    <div class="screen screen-sweet-potato">
      <div class="sweet-potato-img">
        <img src="images/sweet-potato.png">
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>foooooter</p>
      </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/plantdata.js"></script>
    <script src="scripts/controllers/application.js"></script>
    <!-- endbuild -->

    <script src="scripts/services/scrolling.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
</body>
</html>
