<!doctype html>
<html ng-app="phenoApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/all.css">
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="ApplicationCtrl">

    <div id="viewport">

      <div class="header screen" style="text-align: center;">
        <a href="#/" class="title">PHENO</a>
        <p>Grow your own vegetables!</p>
      </div>


      <div class="container">
        <div class="screen screen-calendar">

          <div class="heading-calendar">
            <div class="heading-calendar-background">
              <h1>Calendar</h1>
            </div>
          </div>

          <div id="target-side-bar-lines" class="screen-overlay-fix">
            <div class="screen-overlay">
              <div class="plant-separators">
                <div class="plant-separator-line"></div>
                <div class="plant-separator-line"></div>
                <div class="plant-separator-line-fixed"></div>
                <div class="plant-separator-line-fixed"></div>
                <div class="plant-separator-line-fixed"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
                <div class="plant-separator-line" ng-hide="hideLines"></div>
              </div>
            </div>
          </div>

          <div class="month-separators">
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
            <div class="month-separator-line"></div>
          </div>

          <div class="calendar">
            <div id="calendar-month-section" class="calendar-months calendar-time-bars">
              <div class="calendar-month">J</div>
              <div class="calendar-month">F</div>
              <div class="calendar-month">M</div>
              <div class="calendar-month">A</div>
              <div class="calendar-month">M</div>
              <div class="calendar-month">J</div>
              <div class="calendar-month">J</div>
              <div class="calendar-month">A</div>
              <div class="calendar-month">S</div>
              <div class="calendar-month">O</div>
              <div class="calendar-month">N</div>
              <div class="calendar-month">D</div>
            </div>

            <div class="plant-names-wrapper">
              <ul class="plant-names">
                <li ng-repeat="plant in PLANTS" class="calendar-plant-name">
                  <a href="#{{plant.URL}}">{{ plant.NAME }}</a>
                </li>
              </ul>
            </div>
            
            <ul class="calendar-content">
              <vegetable-time-bars ng-repeat="plantData in PLANTS" plant="plantData"></vegetable-time-bars>
            </ul>

          </div>

          <div class="menu-wrapper">
            <a href class="menu-button" ng-click="menuButton()" ng-show="hideMenu && showMenuAll">
              &gt;
            </a>
            <a href class="menu-button" ng-click="menuButton()" ng-show="showMenu && showMenuAll">
              &lt;
            </a>
            <ul class="menu" ng-show="showMenu && showMenuAll">
              <li ng-repeat="plant in PLANTS" id="menu-{{ plant.URL }}" >
                <a href="#{{plant.URL}}">{{ plant.NAME }}</a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <a id="spinach"></a>
      <div class="screen screen-spinach">
        <div class="vegetable-heading vegetable-heading-spinach">
          <h1>Spinach</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-spinach">
          <vegetable-time-bars plant="PLANTS[0]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img spinach-img">
          <img src="images/spinach.gif">
        </div>

        <div class="spinach-text-position">
          <div class="spinach-text">
            Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
          </div>
        </div>
      </div>

      <a id="chard"></a>
      <div class="screen screen-chard">
        <div class="vegetable-heading vegetable-heading-chard">
          <h1>Chard</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-chard">
          <vegetable-time-bars plant="PLANTS[1]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img chard-img">
          <img src="images/chard.png">
        </div>

        <div class="chard-text-position">
          <div class="chard-text">
            Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
          </div>
        </div>
      </div>

      <a id="brussel-sprouts"></a>
      <div id="trigger-brussel-sprouts" class="screen screen-brussel-sprouts">
        <div class="vegetable-heading vegetable-heading-brussel-sprouts">
          <h1>Brussel Sprouts</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-brussel-sprouts">
          <vegetable-time-bars plant="PLANTS[2]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img brussel-sprouts-img">
          <img src="images/brussel-sprouts.png">
        </div>

        <div class="vegetable-img brussel-sprouts-img brussel-sprouts-cutout">
          <img id="target-brussel-sprouts-cutout" src="images/brussel-sprouts-cutout.png">
        </div>

        <div class="brussel-sprouts-text-position">
          <div class="brussel-sprouts-text">
            Plant the seeds about 2 cm deep in small pots and keep them indoor. Plant out as soon as the seedling growth four leaves. The plants should have a distance of 40 cm between each other. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater. As a growth support tie the stem to a stake. Pinch off lateral shoots early on. Remove the main shoot around the middle of September. Fertilize from time to time.
          </div>
        </div>
      </div>

      <a id="pepper"></a>
      <div class="screen screen-pepper">
        <div class="vegetable-heading vegetable-heading-pepper">
          <h1>Pepper</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-pepper">
          <vegetable-time-bars plant="PLANTS[3]"></vegetable-time-bars>
        </ul>

        <div class="pepper-img-tweener">
          <div id="pepper-img-pin" class="pepper-img">
            <img src="images/pepper.png">
          </div>
        </div>
        

        <div class="pepper-text-position">
          <div class="pepper-text">
            Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
          </div>
        </div>
      </div>

      <a id="beetroot"></a>
      <div class="screen screen-beetroot">
        <div class="vegetable-heading vegetable-heading-beetroot">
          <h1>Beetroot</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-beetroot">
          <vegetable-time-bars plant="PLANTS[4]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img beetroot-img">
          <img src="images/beetroot.png">
        </div>

        <div class="beetroot-text-position">
          <div class="beetroot-text">
            <div ><!-- ng-show="showBeetrootText" -->
              Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.             
            </div>
          </div>
        </div>
      </div>

      <a id="peas"></a>
      <div class="screen screen-peas">
        <div class="vegetable-heading vegetable-heading-peas">
          <h1>Peas</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-peas">
          <vegetable-time-bars plant="PLANTS[5]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img peas-img">
          <div class="peas-img-box">
            <img class="peas-img-hg" src="images/peas.png">
            <img class="pea pea-a" src="images/peas_1.png">
            <img class="pea pea-a" src="images/peas_1.png">
            <img class="pea pea-a" src="images/peas_1.png">
            <img class="pea pea-a" src="images/peas_1.png">
            <img class="pea pea-a" src="images/peas_1.png">
            <img class="pea pea-a" src="images/peas_1.png">
          </div>
        </div>

        <div class="peas-text-position">
          <div class="peas-text">
            Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
          </div>
        </div>
      </div>

      <a id="onion"></a>
      <div class="screen screen-onion">
        <div class="vegetable-heading vegetable-heading-onion">
          <h1>Onion</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-onion">
          <vegetable-time-bars plant="PLANTS[6]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img onion-img">
          <img src="images/onion.png">
        </div>

        <div class="onion-text-position">
          <div class="onion-text">
            Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
          </div>
        </div>
      </div>

      <a id="carrot"></a>
      <div class="screen screen-carrot">
        <div class="vegetable-heading vegetable-heading-carrot">
          <h1>Carrot</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-carrot">
          <vegetable-time-bars plant="PLANTS[7]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img carrot-img">
          <img src="images/carrot.png">
        </div>

        <div class="carrot-text-position">
          <div class="carrot-text">
            Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
          </div>
        </div>
      </div>

      <a id="tomato"></a>
      <div class="screen screen-tomato">
        <div class="vegetable-heading vegetable-heading-tomato">
          <h1>Tomato</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-tomato">
          <vegetable-time-bars plant="PLANTS[8]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img tomato-hg">
          <img src="images/tomato-hg.png">
        </div>
        <div class="vegetable-img tomato-img">
          <img src="images/tomato.png">
        </div>

        <div class="tomato-text-position">
          <div class="tomato-text">
            Plant the seeds about 2 cm deep in small pots and keep them indoor. Plant out as soon as the seedling growth four leaves. The plants should have a distance of 40 cm between each other. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater. As a growth support tie the stem to a stake. Pinch off lateral shoots early on. Remove the main shoot around the middle of September. Fertilize from time to time.
          </div>
        </div>
      </div>

      <a id="sweet-potato"></a>
      <div class="screen screen-sweet-potato">
        <div class="vegetable-heading vegetable-heading-sweet-potato">
          <h1>Sweet Potato</h1>          
        </div>
        
        <ul class="vegetable-time-bars vegetable-time-bars-sweet-potato">
          <vegetable-time-bars plant="PLANTS[9]"></vegetable-time-bars>
        </ul>

        <div class="vegetable-img sweet-potato-img">
          <img src="images/sweet-potato.png">
        </div>

        <div class="sweet-potato-text-position">
          <div class="sweet-potato-text">
            Cut the sweet potato in half and place each in a glass of water with half of the potato below the water and half above. You can use toothpicks to hold the potato in place. When the potato is covered with sprouts that have around 4 leaves separate them by twisting it off of the sweet potato. Put the slips in a vase with water, after a few days they will grow roots. Plant the slips about 30 cm apart and allow 75 cm between rows. Sweet potatoes need loose soil and a lot of sun. When leaves and shoots are turning yellow you can harvest.
          </div>
        </div>
      </div>

    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <!-- endbower -->
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
    <script src="bower_components/gsap/src/uncompressed/plugins/ScrollToPlugin.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/random_peas.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/plantdata.js"></script>
    <script src="scripts/controllers/application.js"></script>
    <script src="scripts/services/scrolling.js"></script>
    <script src="scripts/directives/vegetable-time-bars.js"></script>
    <!-- endbuild -->

  </body>
</html>
