<!doctype html>
<html ng-app="phenoApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/all.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="ApplicationCtrl">

    <div class="header screen">
      <a href="#/" class="title">PHENO</a>
      <p>Grow your own vegtable garden!</p>
    </div>


    <div id="trigger-calendar" class="container">
      <div id="target-calendar" class="screen screen-calendar">
        <div id="target-side-bar-lines" class="screen-overlay-fix">
          <div id="target-side-bar-lines-tween" class="screen-overlay">
            <div class="plant-separators">
              <div class="plant-separator-line"></div>
              <div class="plant-separator-line" ng-repeat="plant in PLANTS"></div>
            </div>
          </div>
        </div>

        <div class="month-separators">
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
          <div class="month-separator-line"></div>
        </div>

        <div class="calendar">
          <div id="calendar-month-section" class="calendar-months calendar-time-bars">
            <div class="calendar-month">J</div>
            <div class="calendar-month">F</div>
            <div class="calendar-month">M</div>
            <div class="calendar-month">A</div>
            <div class="calendar-month">M</div>
            <div class="calendar-month">J</div>
            <div class="calendar-month">J</div>
            <div class="calendar-month">A</div>
            <div class="calendar-month">S</div>
            <div class="calendar-month">O</div>
            <div class="calendar-month">N</div>
            <div class="calendar-month">D</div>
          </div>
          <div id="target-side-bar-tween" class="plant-names-wrapper">
            <ul id="target-side-bar" class="plant-names">
              <li ng-repeat="plant in PLANTS" id="side-bar-{{ plant.URL }}" class="calendar-plant-name">
                <a class="target-side-bar-links-tween" href="#{{plant.URL}}">{{ plant.NAME }}</a>
              </li>
            </ul>
          </div>
          <ul class="calendar-content">
            <li ng-repeat="plant in PLANTS">
              <div class="calendar-time-bars">
                <div style="display:flex;">
                  <div class="calendar-time-bar sowing" ng-if="plant.TIMES.SOWING" style="width:{{plant.sowingWidth}}px;margin-left:{{plant.sowingMargin}}px;"></div>
                  <div class="calendar-time-bar sowing" ng-if="plant.TIMES.SOWING" style="width:{{plant.sowingWidthSecond}}px;margin-left:{{plant.sowingMarginSecond}}px;"></div>
                </div>
                <div class="calendar-time-bar planting" ng-if="plant.TIMES.PLANTING" style="width:{{plant.plantingWidth}}px;margin-left:{{plant.plantingMargin}}px;"></div>
                <div style="display:flex;">
                  <div class="calendar-time-bar harvesting" ng-if="plant.TIMES.HARVESTING" style="width:{{plant.harvestingWidth}}px;margin-left:{{plant.harvestingMargin}}px;"></div>
                  <div class="calendar-time-bar harvesting" ng-if="plant.TIMES.HARVESTING" style="width:{{plant.harvestingWidthSecond}}px;margin-left:{{plant.harvestingMarginSecond}}px;"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <a id="tomato"></a>
    <div id="trigger-tomato-hg" class="screen screen-tomato">
      <div id="target-tomato-hg" class="tomato-hg">
        <img src="images/tomato-hg.png">
      </div>
      <div id="trigger-tomato-img" class="tomato-img">
        <img id="target-tomato-img" src="images/tomato.png">
      </div>
      <div id="trigger-tomato-text" class="tomato-text-position">
        <div id="target-tomato-text" class="tomato-text">
          <h1>TOMATO</h1>
          Plant the seeds about 2 cm deep in small pots and keep them indoor. Plant out as soon as the seedling growth four leaves. The plants should have a distance of 40 cm between each other. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater. As a growth support tie the stem to a stake. Pinch off lateral shoots early on. Remove the main shoot around the middle of September. Fertilize from time to time.
        </div>
      </div>
    </div>

    <a id="sweet-potato"></a>
    <div id="trigger-sweet-potato-img" class="screen screen-sweet-potato">
      <div id="target-sweet-potato-img" class="sweet-potato-img">
        <img src="images/sweet-potato.png">
      </div>
      <div id="trigger-sweet-potato-text" class="sweet-potato-text-position">
        <div id="target-sweet-potato-text" class="sweet-potato-text">
          <h1>SWEET POTATO</h1>
          Cut the sweet potato in half and place each in a glass of water with half of the potato below the water and half above. You can use toothpicks to hold the potato in place. When the potato is covered with sprouts that have around 4 leaves separate them by twisting it off of the sweet potato. Put the slips in a vase with water, after a few days they will grow roots. Plant the slips about 30 cm apart and allow 75 cm between rows. Sweet potatoes need loose soil and a lot of sun. When leaves and shoots are turning yellow you can harvest.
        </div>
      </div>
    </div>

    <a id="pepper"></a>
    <div id="trigger-pepper-img" class="screen screen-pepper">
      <div id="target-pepper-img" class="pepper-img">
        <img src="images/pepper.png">
      </div>
      <div id="trigger-pepper-text" class="pepper-text-position">
        <div id="target-pepper-text" class="pepper-text">
          <h1>PEPPER</h1>
          Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
        </div>
      </div>
    </div>

    <a id="beetroot"></a>
    <div id="trigger-beetroot-img" class="screen screen-beetroot">
      <div id="target-beetroot-img" class="beetroot-img">
        <img src="images/beetroot.png">
      </div>
      <div id="trigger-beetroot-text" class="beetroot-text-position">
        <div id="target-beetroot-text" class="beetroot-text">
          <h1>BEETROOT</h1>
          Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
        </div>
      </div>
    </div>

    <a id="peas"></a>
    <div id="trigger-peas-img" class="screen screen-peas">
      <div id="target-peas-img" class="peas-img">
        <div class="peas-img-box">
          <img class="peas-img-hg" src="images/peas.png">
          <img class="pea pea-a" src="images/peas_1.png">
          <img class="pea pea-a" src="images/peas_1.png">
          <img class="pea pea-a" src="images/peas_1.png">
          <img class="pea pea-a" src="images/peas_1.png">
          <img class="pea pea-a" src="images/peas_1.png">
          <img class="pea pea-a" src="images/peas_1.png">
        </div>
      </div>
      <div id="trigger-peas-text" class="peas-text-position">
        <div id="target-peas-text" class="peas-text">
          <h1>PEAS</h1>
          Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
        </div>
      </div>
    </div>

    <a id="carrot"></a>
    <div id="trigger-carrot-img" class="screen screen-carrot">
      <div id="target-carrot-img" class="carrot-img">
        <img id="target-carrot-rotation" src="images/carrot.png">
      </div>
      <div id="trigger-carrot-text" class="carrot-text-position">
        <div id="target-carrot-text" class="carrot-text">
          <h1>CARROT</h1>
          Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
        </div>
      </div>
    </div>

    <a id="chard"></a>
    <div id="trigger-chard-img" class="screen screen-chard">
      <div id="target-chard-img" class="chard-img">
        <img id="target-chard-rotation" src="images/chard.png">
      </div>
      <div id="trigger-chard-text" class="chard-text-position">
        <div id="target-chard-text" class="chard-text">
          <h1>CHARD</h1>
          Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
        </div>
      </div>
    </div>

    <a id="brussel-sprouts"></a>
    <div id="trigger-brussel-sprouts" class="screen screen-brussel-sprouts">
      <div class="brussel-sprouts-img">
        <img src="images/brussel-sprouts.png">
      </div>
      <div class="brussel-sprouts-cutout">
        <img id="target-brussel-sprouts-cutout" src="images/brussel-sprouts-cutout.png">
      </div>
      <div class="brussel-sprouts-text-position">
        <div class="brussel-sprouts-text">
          <h1>BRUSSEL SPROUTS</h1>
          Plant the seeds about 2 cm deep in small pots and keep them indoor. Plant out as soon as the seedling growth four leaves. The plants should have a distance of 40 cm between each other. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater. As a growth support tie the stem to a stake. Pinch off lateral shoots early on. Remove the main shoot around the middle of September. Fertilize from time to time.
        </div>
      </div>
    </div>

    <a id="spinach"></a>
    <div id="trigger-spinach-img" class="screen screen-spinach">
      <div id="target-spinach-img" class="spinach-img">
        <img id="target-spinach-rotation" src="images/spinach.gif">
      </div>
      <div id="trigger-spinach-text" class="spinach-text-position">
        <div id="target-spinach-text" class="spinach-text">
          <h1>SPINACH</h1>
          Plant the seeds about 1 cm deep in small pots an keep them indoor. Separate the seedlings and plant into bigger pots when two true leaves have formed. Prior to transplanting work  fertilizer into the soil. The plants should have a distance of around 45 cm between each other. For support, tie the plants to stakes. The growing spot should receive a lot of sun. Keep the soil moist but don’t overwater.
        </div>
      </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <!-- endbower -->
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
    <script src="bower_components/gsap/src/uncompressed/plugins/ScrollToPlugin.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/random_peas.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/plantdata.js"></script>
    <script src="scripts/controllers/application.js"></script>
    <script src="scripts/services/scrolling.js"></script>
    <!-- endbuild -->

</body>
</html>
